<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart House</title>
        <meta charset utf="8">
        <!--Scripts-->
        <!-- AngularJS 1.5.5 -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <!-- app.js -->
        <script src="js/app.js"></script>
    </head>

    <body ng-app="SmartHouse" ng-controller="appController as appCtrl">
        <button type="button" style="background: blue" ng-click="appCtrl.click()">Click Me!</button>
    </body>

</html>